.columns > div {
    display: flex;
    flex-direction: column;
}

.columns img {
    width: 100%;
}

.columns > div > div {
    order: 1;
}

.columns > div > .columns-img-col {
    order: 0;
}

.columns > div > .columns-img-col img {
    display: block;
}

@media (width >= 900px) {
    .columns > div {
        align-items: center;
        flex-direction: unset;
        gap: 24px;
    }

    .columns > div > div {
        flex: 1;
        order: unset;
    }
}

.columns h1 {
    font-family: "Playfair Display", serif;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 400;
    margin: 10px 0;
    font-size: 40px;
}

.columns h5 {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
}

.columns h4 {
    font-family: "Playfair Display", serif;
    font-size: 20px;
}

.columns p {
    font-family: "Times New Roman", Times, serif;
}
#about > div > div > div:nth-child(1) > div:nth-child(2) > p:nth-child(4) {
    color: #757575 !important;
}
#Menu > div > div > div:nth-child(1) > div:nth-child(1) > p {
    color: #757575 !important;
}
